<br />

<div class="frosty col-10 offset-1 text-center">
   <h1>Womens World Cup France 2019</h1>
   <br />   
   <h2>USWNT crowned champions.</h2>
 </div>

<br />
<br />

<div class="col-10 offset-1">
  <h3>Journey To Success</h3>

  <p>
    Relive the best plays from the beginning of the tournament to the final victory over the Netherlands. The United States women's national team beat the Netherlands 2-0 to capture their fourth World Cup title, but it was quiet a journey that led the squad to that moment. The opening match aganist Thailand might feel like it was a month ago, so i'd like to help you relive the USWNT's entire World Cup run. 
  </p>
  <p>
    This was a breakout tournament for 24-year-old <a target="_blank" href="http://ussoccer.com/players/l/rose-lavelle">Rose Lavelle</a> who's been limited by hamstring injuries her entire pro career. When she went down with a tweaked hamstring in the semifinal, fans feared she wouldn't have a chance to show off her skills aganist the Netherlands. But she got the start, and holy crap, she did deliver the goods.
  </p>
  <p>
    Since everyone was mad about the celebrations during the Thailand game in which they went out on a route scoring 13 goals,  <a target="_blank" href="http://ussoccer.com/players/l/carli-lloyd">Carli Lloyd</a> made sure to keep it respectful aganist Chile.  <a target="_blank" href="http://ussoccer.com/players/r/megan-rapinoe">Megan Rapinoe</a> was solid in her early appearences, but wasn't getting on the end of goal-scoring opportunities until the quarterfinal. Aganist France, she took over.
  </p>
  <p>
    <a target="_blank" href="http://ussoccer.com/players/m/alex-morgan">Alex Morgan</a> will be remembered for her fantastic goals and playing hurt throughout the World Cup, but her most iconic moment was her tea-sipping celebration after she scored the go-ahead goal aganist England. 
    Coming into this World Cup, there were questions about whether  <a target="_blank" href="http://ussoccer.com/n/alyssa-naeher">Alyssa Naeher</a> could give the USWNT as much in goal as the legendary Hope Solo did. She answered all of those questions aganist England, where Morgan said "she saved our ass."
  </p>
  <p>
    For more information about USWNT success story - check <a target="_blank" href="https://ussoccer.com/teams/uswnt"> here</a>.
  </p>

</div>

